<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <h2>Hello there</h2>
    <h5>Who wants to be greeted?</h5>
</div>
<div class="container">
    <!--/*@thymesVar id="person" type="com.kurromat.hikingmetrics.model.Person"*/-->
    <form action="#" th:action="@{/doGreet}" th:object="${person}" method="post">
        <div class="row">
            <div class="col-sm-3 col-xs-12"><label for="name">Whom to greet?</label></div>
            <div class="col-sm-5 col-xs-12">
                <input id="name" type="text" : th:field="${person.name}"/>
            </div>
        </div>
        <div class="btn-group">
            <input class="btn btn-default" type="submit" value="Submit"/>
            <input class="btn btn-default" type="reset" value="Reset"/>
        </div>
    </form>
</div>
</body>

</html>