<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">
<div class="container">
    <form action="#" th:action="@{/logout}" method="post">
        <div class="row">
            <div class="col-sm-offset-9 col-sm-3 col-xs-12">
                <input type="submit" value="Logout"/>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>