<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header"></head>
<body>

<div class="container">
    <h2>List of Greetings</h2>
    <div class="table-responsive">
        <table class="table">
            <caption>List of Greetings</caption>
            <thead>
            <tr>
                <th scope="col">Person</th>
                <th scope="col">Greetings</th>
            </tr>
            </thead>
            <tbody th:each="person: ${greetings}">
            <tr>
                <td th:text="${person.key}"></td>
                <td th:text="${person.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<th:block th:include="fragments/footer"/>

</body>
</html>